#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 4px;
  text-align: left;
}

td {
  &.fail {
    background-color: red;
    color: white;
    font-weight: 600;
  }
  &.pass {
    background-color: green;
    color: white;
    font-weight: 600;
  }
}


th {
  background-color: lightgray;
}

@media (prefers-color-scheme: dark) {
  th {
    background-color: dimgray;
  }
}